name: main
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
env:
  RSC_LICENSE: ${{ secrets.RSC_LICENSE }}
jobs:
  main:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node:
          - 18.x
          - 16.x
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: make
      - run: git diff --exit-code
      - if: failure()
        run: docker-compose logs
      - run: make down
      - run: printf '//registry.npmjs.org/:_authToken=%s\n' "${NPM_AUTH_TOKEN}" | tee .npmrc
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - run: npm info
      - if: matrix.node == '18.x' && startsWith(github.ref, 'refs/tags')
        run: npm publish
      - if: startsWith(github.ref, 'refs/heads')
        run: npm publish --dry-run
